.icon{
    height: 20px;
    width: 20px;
    object-fit: cover;
  }

  .p-10{
    padding: 10px
  }

  .p-5{
    padding: 5px
  }

p{
    font-size: 10pt;;
}

h3{
    font-size: 12pt;
}

.btn {
  font-size: 12pt;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  background: #F2B90F;

}

.black1{
    background: #242424;
}

.black2{
    background: #474747;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-perfil{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarPerfil{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.avatarPost{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.d-post{
    height: 100%;
    width: 100%;
    /* height: 94%;
    width: 70%;
    padding: 3%; */
    /* overflow-y: auto; */
}

.post{
    padding: 15px;
    border-radius: 15px;
}

form{
    height: 15%;
}

.post .form1{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.post .form1 input{
    height: 25%;
    width: 100%;
    border-radius: 7px;
    color: white;
    border: 1px solid #6b6b6b;
    padding: 11px;
}

.d-bPost{
    padding: 15px;
    justify-content: space-between;
}

.d-bPost div div{
    padding: 0 10px;
}

.u-post{
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.u-post-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-post{
    width: 100%;
    height: 10%;
    padding: 15px 0px;
}

.c-post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.d-descricao{
    padding: 15px;
}

.d-reacao{
    padding: 15px;
    border-top: 1px solid #6b6b6b;
}

.div-posts{
    height: 80%;
    overflow-y:auto;
}

/* .div-posts::-webkit-scrollbar-track{
	border-radius:0;
	background-color: #D0D4CE;
    display: none;
} */

/* .div-posts::-webkit-scrollbar{
	width: 2px;
	background-color: #D0D4CE;
    display: none;

} */

/* .div-posts::-webkit-scrollbar-thumb{
	border-radius:10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F2B90F;
    display: none;

} */