<div class="container">
    <div class="div-home">
        <div class="menu">
            <h3>Chainsaw-man</h3>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Conhecimentos</a></li>
                    <li><a href="">Tecnologias</a></li>
                </ul>
            </nav>
        </div>
        <div class="div-text">
            <h2 class="c-laranja">OtakuMeet</h2>
            <p>What is Lorem Ipsum?
                Lorem Ipsum has been the industry's standard dummy <br>
                text ever since the 1500s, when an unknown printer 
                took a galley of type and<br> scrambled it to make a type specimen book.<br>
                It has survived not only five centuries<br> but also the leap into electronic typesetting,
                remaining essentially unchanged.
            </p>
            <button class="btn laranja" ><a href="login">Login</a></button>
        </div>
        <!-- <div class="imag">
            <div class="images-list">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
                <img src="../../assets/csman.png" alt="">
            </div>
        </div> -->
    </div>
    <div class="content div-sobre">
        <img src="../../assets/csman.png" alt="">

        <div>
            <h2>Sobre OtakuMeet</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum. 
            </p>
            <br>
            <p> It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum. 
            </p>
            <br>
            <p> It was popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum. 
            </p>
            <button class="btn laranja white">View More</button>
        </div>

    </div>
    <div class="d-volumes verde">
        <h2>Chainsaw Man Volumes </h2>
        <div class="volumes">
            <div class="volume">
                <img src="../../assets/volum1.jpg" alt="">
                <h3>Volume - 1</h3>
                <p>Título: Inu to Chensō</p>
                <p>Cápitulos - 7</p>
                <button class="btn laranja">details</button>
            </div>
            <div class="volume">
                <img src="../../assets/Volume_02.jpg" alt="">
                <h3>Volume - 2  </h3>
                <p>Título:  Chenso Basasu Komor</p>
                <p>Cápitulos - 9</p>
                <button class="btn laranja">details</button>
            </div>
            <div class="volume">
                <img src="../../assets/volume3.jpg" alt="">
                <h3>Volume - 3</h3>
                <p>Título: Chenso Basasu Komor</p>
                <p>Cápitulos - 9</p>
                <button class="btn laranja">details</button>
            </div>
            <div class="volume">
                <img src="../../assets/volume 4.jpg" alt="">
                <h3>Volume -4 </h3>
                <p>Título: Jū wa Tsuyoshi</p>
                <p>Cápitulos - 9</p>
                <button class="btn laranja">details</button>
            </div>
            <div class="volume">
                <img src="../../assets/volume5.jpg" alt="">
                <h3>Volume - 5</h3>
                <p>Título:  Miseinen</p>
                <p>Cápitulos - 9</p>
                <button class="btn laranja">details</button>
            </div>
        </div>
    </div>
    <div class="content d-volumes2">
        <div>
        <img src="../../assets/denji.png" alt="">
            
        </div>
    </div>
    <div class="content verde d-contactos white">
        <h2>Contactos</h2>
        <div class=" ">
            <div class="contacto">

                <p>Email:</p>
                <h3>kevenmuginga gmail.com</h3>
            </div>
            <div class="contacto">
                <p>Whatsaap:</p><br>
                <h3>+244 940 859 483</h3>
            </div>
            <div class="contacto">
                <p>Personal number:</p><br>
                <h3>+244 940 859 483</h3>
            </div>
            <div class="contacto">
                <p>github:</p><br>
                <h3>kevenmugingagmail.com</h3>
            </div>
        </div>
    </div>

</div>